.register-form-wrapper {
    header {
        font-size: 2rem;
        margin: 10px;
        font-weight: bold;
    }
    .verification {
        padding-left: 15px !important;
        padding-right: 15px !important;
        div {
            padding: 16px;
            input {
                width: 100%;
                padding-bottom: 8px;
                border: 2px solid #c0c0c0;
                text-align: center;
                font-size: 2rem;
            }
        }
        div:first-child::after {
            content: "+";
            position: absolute;
            font-size: 4rem;
            margin-top: 14px;
            margin-left: 2px;
            color: #8c8686;
        }
        div:nth-child(2)::after {
            content: "=";
            position: absolute;
            font-size: 4rem;
            margin-top: 14px;
            margin-left: 2px;
            color: #8c8686;
        }
    }
}