<div class="nav-wrapper container-fullwidth">
    <div class="row">
        <div class="col-md-12">
            <nav class="navbar navbar-expand-sm bg-light navbar-light justify-content-end">
                <a class="navbar-brand" href="#">| LOGO |</a>
                <button class="btn btn-link ml-auto mr-1 price">Price</button>
                <button class="navbar-toggler" type="button" data-toggle="collapse"
                    data-target="#navbarSupportedContent">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse flex-grow-0" id="navbarSupportedContent">
                    <ul class="navbar-nav text-right">
                        <li class="nav-item active">
                            <a class="nav-link" [routerLink]="'/home/provide-service'">How It Works</a>
                        </li>
                        <li class="nav-item active">
                            <a class="nav-link" [routerLink]="'/home/provide-service'">Provide Service</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" [routerLink]="'/home/provide-service'">Need Service</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" [routerLink]="'/login-register'">Login</a>
                        </li>
                    </ul>
                </div>
            </nav>

        </div>
    </div>
</div>

<div class="login-form-wrapper container container-fluid">
    <div class="row">
        <div class="col-md-6">
            <app-login></app-login>
        </div>
        <div class="col-md-6">
            <app-register></app-register>
        </div>
    </div>
</div>